@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --primary: 262 83.3% 57.8%; /* Vivid Purple */
    --primary-foreground: 210 40% 98%;

    --card: 240 10% 4.9%;
    --card-foreground: 0 0% 98%;

    --radius: 0.5rem;
  }

  body {
    @apply bg-background text-foreground;
  }
}
